{% extends 'base.html.twig' %}

{% block stylesheets %}
  <style>
      label{
          display: none;
      }
  </style>

{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="ml-3 mt-3">Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control ml-3' ,'style': 'width:20%;', 'placeholder':'Email' } }) }}
    {{ form_row(registrationForm.plainPassword, { 'attr': {'class': 'form-control ml-3 mt-2', 'style': 'width:20%;', 'placeholder':'Password'} }) }}
       {# {{ form_row(registrationForm.agreeTerms) }}#}

        <button class="btn btn-lg btn-primary ml-3 mt-3">Register</button>
    {{ form_end(registrationForm) }}

{% endblock %}
