{% extends 'HostedPBX/base.html.twig' %}

{% block wrapper %}

{#
  {% if app.user %}
    <div class="mb-3">
      You are logged in as {{ app.user.name}}, <a href="{{ path('app_logout') }}">Logout</a>
      {{app.user.roles[1]}}
    </div>
  {% endif %}
#}



  <section class="container">
    <div class="row pt-3" style="margin-top: 50px !important;">
      <div class="col col-md-3"></div>
      <div class="col col-md-6 offset-md-3" style="">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Login Page</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form role="form" method="post" action="{{ path('app_login') }}">

            {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'HostedPBX') }}</div>
            {% endif %}

            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Tenant</label>
                <input type="text" name="tenant" class="form-control" id="exampleInputPassword1" placeholder="Tenant">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Company</label>
                <input type="text" name="company" class="form-control" id="exampleInputPassword1" placeholder="Company">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">DID</label>
                <input type="text" name="did" class="form-control" id="exampleInputPassword1" placeholder="DID">
              </div>

              <input type="hidden" name="_csrf_token"
                     value="{{ csrf_token('authenticate') }}"
              >

              <div class="form-group">
                   <a href="{{ path('resetpass') }}"> Forgot Your Password ? </a>
              </div>


            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>

      <div class="col col-md-3"></div>
    </div>
  </section>

{% endblock %}